a,.tp-caption a.btn:hover {
	color: #333;
}
.top-nav-collapse {
	background: #FFF;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #333;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #FFF;
}

.widget-avatar .avatar:hover {
    border: 5px solid #67b0d1;
}

.bg-skin {
	background: #67b0d1;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #67b0d1;
}

footer {
    background-color: #d8de34;
}

.btn-skin {
  color: #333;
  background-color: #ffd200;
  border-color:#ffd200;
}



.container_portafolio {
	margin-top: 120px;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden !important;
}
